html {

  height: 100%;
  width: 100%;
  background-color: #e7d06d;
}

.clickable {
  color: #7d733e;
}
.clickable:hover {
  color: #5a4c00;
  cursor: pointer;
}

a {
  color: #a38712; /* Dark purple */
  text-decoration: none; /* Remove default underline */
}
a:visited {
  color: #79640d; 
}
a:hover {
  color: #4b3e08; 
}
a:active {
  color: #ffd100; /* A slightly lighter purple for active state */
}


.cool {
  color: #795c18;
}

ul li {
  color: #fdf6d6;
}
